{% import_yaml 'buildbot/defaults.yaml' as defaults %}
{% import_yaml 'buildbot/osmap.yaml' as osmap %}

{%- set defaults = salt['grains.filter_by'](defaults,
    default='buildbot',
    merge=salt['grains.filter_by'](osmap, grain='os_family',
      merge=salt['pillar.get']('buildbot:lookup', default={})
    )
) %}

{# merge the actual buildbot pillar into the above combined dict #}
{% set buildbot = salt['pillar.get']('buildbot', default=defaults, merge=True) %}
